/* globals
=============================*/
p a
{
    color:#e8bc23; 
    font-weight: bold;
}

/* header
=================================*/
header
{
    height: 75px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e8bc23;
    
}

.logo
{
    display: inline-block;
    margin-left: 20px;
    width: 227px;
    margin-top: 15px;
}

.logo p
{
    font-family: 'Comfortaa', cursive;
    font-size: 36px;
    margin: 0 0;
    color: #e8bc23;
    display: inline-block;
}

.logo a
{
    text-decoration: none;   
}

.logoEffect
{    
   width: 100%;
   height: 2px;
   background-color: #e8bc23;
   display: inline-block;
   position: relative;
   opacity: 0;
}

.navButtons
{
    display: inline-block;
    height: 100%;
    background-color: none;
    float: right;
}

.navButtons li p
{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    margin: 15px;
    color: #e8bc23;
}

.navButtons li
{
    display: inline-block;   
    float: right;
    margin: 7px 5px;
}

.button
{
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 55px;
    cursor:pointer;
    float: right;
}

.buttonBorder
{
    position: absolute;
    width: 150px;
    height: 55px;
    border: 1px solid orange;
    opacity: 0;
}

.button p
{
    font-family: 'Open Sans', sans-serif;
}

.selected
{
    font-weight: bold;
}

/* Banner
====================================*/
.banner
{
    width: 100%;
    height: 400px;
    background-color: #e8bc23;
    display: table;
}

.banner p
{
    display: table-cell;
    font-family: "courier new";
    padding-left: 22%;
    height: 100%;
    vertical-align: middle;
    font-weight: bold;
    font-size: 130px;
    color: white;
}

/* main content
=========================================*/
.wrapper
{
    width: 80%;
    margin-left: 10%;
    margin-top: 150px;
    background-color: none;
    text-align: center;    
}

.mainText li
{
    margin-top: 150px;   
}

.mainText li h1
{
    font-family: 'Comfortaa', cursive;
    font-size: 36px;
    color: #e8bc23;
}

.mainText li p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.priceSection h2
{
    margin-top: 30px;
    font-family: 'Comfortaa', cursive;
    font-size: 27px;
    color: black;
}

.hourly
{
    width: 200px;
    height: 100px;
    background-color: #e8bc23;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    cursor: default;
    transition-property: border-radius;
    transition: 0.5s 0 ease;
}

.hourly:hover
{
    transition: 0.2s 0 ease;
    border-radius: 0;
}

.hourly p
{
    font-family: 'Comfortaa', cursive;
    color: white;
    display: inline-block;
    font-size: 60px;
    margin-top: 10px;
    cursor: default;
    
}



/* Quote ==================================*/

.quotesection
{
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
    font-size: 16px;
    margin-top: 150px;
}

.quote
{
    opacity: 0;
}

.credit
{
    text-align: center;
    opacity: 0;
}

/* past job
==========================================*/
.pastjob
{
    width: 80%;
    border: 2px solid #e8bc23;
    display: inline-block;
    margin: 10px auto;
    font-family: 'Comfortaa', cursive;
    text-align: left;
    transition-property: border-left, border-right;
    transition: 0.1s 0 linear;
}

.pastjob:hover
{
    border-left: 8px solid #e8bc23;
    border-right: 8px solid #e8bc23;
    transition: 0.1s 0 linear;
}

.pastjob img
{
    float:right;
    margin-right: 6%;
    max-height: 400px;
}

.pastjob h1
{
    font-size: 40px;
    white-space: normal;
    margin-left: 5%;
    
}

.pastjob p
{
    font-size: 22px;
    white-space: normal;
    margin: 0 5%;
}

.joblink:not(.default):link    { color: black; }
.joblink:not(.default):visited { color: black; }




/* Footer
==========================================*/
footer
{
    width: 100%;
    height: 125px;
    background-color: #e8bc23;
    margin-top: 150px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
}

footer p
{
    padding-top: 10px;   
}

footer li
{
    display: inline-block;
}

footer img
{
    width: 50px;
}

.social-link
{
    opacity: 0.7;   
}

.selfie
{
    width: 50%;
    opacity: 0.25;
    margin-bottom: -15%;
}




